<md-content>
  <form name="userForm">
  <md-input-container class="md-icon-float md-block">
    <label>Name</label>
    <md-icon class="name">person</md-icon>
    <input name="name" ng-model="$ctrl.user.name" ng-maxlength="15" type="text" ng-required="true">
    <div ng-messages="userForm.name.$error">
      <div ng-message="required">The name is required.</div>
      <div ng-message="maxlength">The name is very long.</div>
    </div>
  </md-input-container>
  <md-input-container md-no-float class="md-icon-float md-block">
    <md-icon>phone</md-icon>
    <input name="phone" ng-model="$ctrl.user.phone" type="string" placeholder="Phone Number" ng-pattern="/^[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}$/">
    <div class="hint" ng-show="showHints">(###) ###-####</div>
    <div ng-messages="userForm.phone.$error" ng-hide="showHints">
      <div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
    </div>
  </md-input-container>
  <md-input-container class="md-icon-float md-block">
    <md-icon class="email">email</md-icon>
    <input name="email" ng-model="$ctrl.user.email" type="email" placeholder="Email (required)" ng-required="true">
    <div ng-messages="userForm.email.$error">
      <div ng-message="required">The email is required.</div>
      <div ng-message="email">The email is invalid.</div>
    </div>
  </md-input-container>
  <md-input-container md-no-float class="md-icon-float md-block">
    <md-icon>place</md-icon>
    <input name="address" ng-model="$ctrl.user.address" ng-maxlength="15" type="text" placeholder="Address">
    <div ng-messages="userForm.address.$error">
      <div ng-message="maxlength">The address is very long.</div>
    </div>
  </md-input-container>
  <md-button class="md-primary" ng-disabled="userForm.$invalid" ng-click="$ctrl.save()">Save</md-button>
  </form>
</md-content>
